prometheus-client
pyyaml~=6.0.2
opencv-python~=4.12.0.88
numpy~=2.2.6
phx-class-registry~=5.1.1
matplotlib~=3.10.6
transformers~=4.56.2
pillow~=11.3.0
phx-class-registry~=5.1.1
pydantic~=2.11.9
compress_pickle~=2.1.0
pycocotools~=2.0.10
pytest~=9.0.1
pyinstrument~=5.1.1
xxhash

# Only for mlflow
#mlflow~=3.5.1

# Only for FastAPI server, Juror Service
fastapi~=0.120.0
python-multipart~=0.0.20

# Torch and torchvision installation based on platform and CUDA version
# for CUDA 13.0 torch on Windows
torch --index-url https://download.pytorch.org/whl/cu130; sys_platform == 'Windows'
torchvision --index-url https://download.pytorch.org/whl/cu130; sys_platform == 'Windows'

# Torch und torchvision für Linux mit CUDA 13.0
torch --index-url https://download.pytorch.org/whl/cu130; sys_platform == 'linux'
torchvision --index-url https://download.pytorch.org/whl/cu130; sys_platform == 'linux'

# for MPS accelerated torch on Mac
torch; sys_platform == 'darwin'
torchvision; sys_platform == 'darwin'

fiftyone~=1.8.0

# HTTP client used by juror_client
requests
httpx~=0.24.1


#image accquisition
uvicorn[standard]~=0.22.0
prometheus_client~=0.23.1
kaggle~=1.8.2

# experiment
pycocotools~=2.0.10