global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:${MONITORING_PROMETHEUS_PORT}']

  - job_name: 'docker-services'
    # Container-Hostnames sind die Service-Namen im Docker Compose network
    static_configs:
      - targets:
        - 'juror-service:${JUROR_PORT}'
        - 'image-acquisition-service:${IMAGE_ACQUISITION_PORT}'

  - job_name: 'system_gpu_exporter'
    metrics_path: '/metrics'
    # Der Port wird zur Laufzeit durch Ersetzen der Variable MONITORING_PROMETHEUS_GPU_EXPORTER_PORT gesetzt
    static_configs:
      - targets: ['system-gpu-exporter:${MONITORING_PROMETHEUS_GPU_EXPORTER_PORT}']
