global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:${MONITORING_PROMETHEUS_PORT}']

  - job_name: 'docker-services'
    # Container-Hostnames sind die Service-Namen im Docker Compose network
    static_configs:
      - targets:
        - 'juror-service:${JUROR_PORT}'
        - 'image-acquisition-service:${IMAGE_ACQUISITION_PORT}'
        - 'mlflow:${MLFLOW_PORT}'
